.mat-form-field{
    width: 100%;
  }
  h1 {
    color: #267ace;
    font-size: 30px;
    margin-top: 5px;
    margin-left: 5px;
  }
  
  mat-form-field{
  width:100%;
  height: 80px;
  }
  .mat-raised-button{
  background-color: #34d654;
  }
  .btn {
  background-color: #6a9ce6;
  width: 68px ;
  height: 35px;
  margin: 0 10px 0px;
  font-size: 15px;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  