<h1 mat-dialog-title>Création d'un nouveau Document</h1>
<br>
<div mat-dialog-content>
<form #enregForm="ngForm" (ngSubmit)="onSubmit()">



<mat-form-field  appearance="outline">
<mat-label  for="chapitre_comptable" >Chapitre Comptable: </mat-label>
<input formConroleName="chapitre_comptable" matInput placeholder="" type="text" id="chapitre_comptable" 
 name="chapitre" [(ngModel)]="suividocument.chapitre_comptable"  required #chapitre_comptable="ngModel"           
[class.is-invalid]="chapitre_comptable.invalid &&chapitre_comptable.touched"   >
<small class="text-danger" [class.d-none]="chapitre_comptable.valid || chapitre_comptable.untouched">Chapitre Comptable is required field</small> 
</mat-form-field>
<!---
-->
<mat-form-field  appearance="outline">
    <mat-label  for="numero_document" >Numero Document: </mat-label>
    <input formConroleName="numero_document" matInput placeholder="" type="number" id="numero_document" 
     name="Numero" [(ngModel)]="suividocument.numero_document"  required #numero_document="ngModel"           
    [class.is-invalid]="numero_document.invalid &&numero_document.touched"   >
    <small class="text-danger" [class.d-none]="numero_document.valid || numero_document.untouched">Numero Document is required field</small> 
    </mat-form-field>
    <!-----
    -->
    <mat-form-field  appearance="outline">
        <mat-label  for="date_d_entree_Du_Document" >Nombre de Document: </mat-label>
        <input formConroleName="nombre_De_documents" matInput placeholder="" type="number" id="nombre_De_documents" 
         name="nombre" [(ngModel)]="suividocument.nombre_De_documents"  required #nombre_De_documents="ngModel"           
        [class.is-invalid]="nombre_De_documents.invalid &&nombre_De_documents.touched"   >
        <small class="text-danger" [class.d-none]="nombre_De_documents.valid || nombre_De_documents.untouched">Nombre de Document is required field</small> 
        </mat-form-field>
    <!-----
    -->
    <mat-form-field  appearance="outline">
        <mat-label  for="nombre_De_documents" >Numero Document: </mat-label>
        <input formConroleName="nombre_De_pages" matInput placeholder="" type="number" id="nombre_De_pages" 
         name="nombr" [(ngModel)]="suividocument.nombre_De_pages"  required #nombre_De_pages="ngModel"           
        [class.is-invalid]="nombre_De_pages.invalid &&nombre_De_pages.touched"   >
        <small class="text-danger" [class.d-none]="nombre_De_pages.valid || nombre_De_pages.untouched">Nombre de page is required field</small> 
        </mat-form-field>
    <!------------
    -->
    <mat-form-field  appearance="outline">
        <mat-label  for="date_d_entree_Du_Document" >Date d'entree Du Document: </mat-label>
        <input formConroleName="date_d_entree_Du_Document" matInput placeholder="" type="date" id="date_d_entree_Du_Document" 
         name="ndate" [(ngModel)]="suividocument.date_d_entree_Du_Document"  required #date_d_entree_Du_Document="ngModel"           
        [class.is-invalid]="date_d_entree_Du_Document.invalid &&date_d_entree_Du_Document.touched"   >
        <small class="text-danger" [class.d-none]="date_d_entree_Du_Document.valid || date_d_entree_Du_Document.untouched">Date d'entree Du Document is required field</small> 
        </mat-form-field>
        <!----------------
    -->
    <mat-form-field  appearance="outline">
        <mat-label  for="date_De_creation_Du_Document" >Date de creation Du Document: </mat-label>
        <input formConroleName="date_De_creation_Du_Document" matInput placeholder="" type="date" id="date_d_entree_Du_Document" 
         name="date" [(ngModel)]="suividocument.date_De_creation_Du_Document"  required #date_De_creation_Du_Document="ngModel"           
        [class.is-invalid]="date_De_creation_Du_Document.invalid &&date_De_creation_Du_Document.touched"   >
        <small class="text-danger" [class.d-none]="date_De_creation_Du_Document.valid || date_De_creation_Du_Document.untouched">Date de creation Du Document is required field</small> 
        </mat-form-field>
        <!------------------
        -->
        <mat-form-field  appearance="outline">
            <mat-label  for="limite_de_conservation_1ere_age" >Limite de conservation 1ere age: </mat-label>
            <input formConroleName="limite_de_conservation_1ere_age" matInput placeholder="" type="text" id="limite_de_conservation_1ere_age" 
             name="ch" [(ngModel)]="suividocument.limite_de_conservation_1ere_age"  required #limite_de_conservation_1ere_age="ngModel"           
            [class.is-invalid]="limite_de_conservation_1ere_age.invalid &&limite_de_conservation_1ere_age.touched"   >
            <small class="text-danger" [class.d-none]="limite_de_conservation_1ere_age.valid || limite_de_conservation_1ere_age.untouched">Limite de conservation 1ere age is required field</small> 
            </mat-form-field>

            <mat-form-field  appearance="outline">
                <mat-label  for="codedocument" >Code document: </mat-label>
                <input formConroleName="codedocument" matInput placeholder="" type="number" id="codedocument" 
                 name="cc" [(ngModel)]="suividocument.codedocument"  required #codedocument="ngModel"           
                [class.is-invalid]="codedocument.invalid &&codedocument.touched"   >
                <small class="text-danger" [class.d-none]="codedocument.valid ||codedocument .untouched"> is required field</small> 
                </mat-form-field>

                <mat-form-field  appearance="outline">
                    <mat-label  for="numero_d_ordre" >Numéro d'ordre: </mat-label>
                    <input formConroleName="numero_d_ordre" matInput placeholder="" type="number" id="numero_d_ordre" 
                     name="num" [(ngModel)]="suividocument.numero_d_ordre"  required #numero_d_ordre="ngModel"           
                    [class.is-invalid]="numero_d_ordre.invalid &&numero_d_ordre.touched"   >
                    <small class="text-danger" [class.d-none]="numero_d_ordre.valid || numero_d_ordre.untouched"> is required field</small> 
                    </mat-form-field>



                    <mat-form-field  appearance="outline">
                        <mat-label  for="emplacement_physique" >Emplacement physique: </mat-label>
                        <input formConroleName="emplacement_physique" matInput placeholder="" type="number" id="emplacement_physique" 
                         name="emplacement" [(ngModel)]="suividocument.emplacement_physique"  required #emplacement_physique="ngModel"           
                        [class.is-invalid]="emplacement_physique.invalid &&emplacement_physique.touched"   >
                        <small class="text-danger" [class.d-none]="emplacement_physique.valid || emplacement_physique.untouched"> is required field</small> 
                        </mat-form-field>
                

            <mat-form-field  appearance="outline">
                <mat-label  for=" libelleDirection" > libelle Direction: </mat-label>
                <mat-select placeholder="" name="libelle" [(ngModel)]="suividocument.libelleDirection" required #libelleDirection="ngModel"
                [class.is-invalid]="libelleDirection.invalid && libelleDirection.touched">
            <mat-option *ngFor="let item of libelleDirections" value="{{item.id}}">{{item.libelleDirection}}</mat-option >
             </mat-select>
                <small class="text-danger" [class.d-none]=" libelleDirection.valid ||  libelleDirection.untouched">libelleDirection 1ere age is required field</small> 
                </mat-form-field>



                
            <mat-form-field  appearance="outline">
                <mat-label  for=" designation_Nomenclature" >designation_Nomenclature: </mat-label>
                <mat-select placeholder="" name="designation" [(ngModel)]="suividocument.designation_Nomenclature" 
                required #designation_Nomenclature="ngModel"
                [class.is-invalid]="designation_Nomenclature.invalid && designation_Nomenclature.touched">
            <mat-option *ngFor="let itemm of designation_Nomenclatures" value="{{itemm.id}}">{{itemm.designation_Nomenclature}}

            </mat-option >
             </mat-select>
                <small class="text-danger" [class.d-none]=" designation_Nomenclature.valid || designation_Nomenclature.untouched">
                     Designation_Nomenclature is required field</small> 
                </mat-form-field>
    
            <div mat-dialog-actions [align]="'end'">
                <button  class="btn" mat-dialog-close (click)="retour()" > Retour </button>
                
                <button mat-raised-button [disabled]="enregForm.form.invalid" color="Success" type="Submit" (click) ="opensweetalert()"  >Créer</button>
                
              </div>
              <br><br>
</form>
</div>              