<h1 mat-dialog-title >Suppression d'une Nomenclature</h1>
<h2 > Êtes-vous sûre de supprimer cette Nomenclature? </h2>
<br><br>
<div mat-dialog-content>
<form #enregForm="ngForm" >
    <mat-label ><b>Id: </b>    </mat-label>     {{data.nomenclature.id}}
        <br>
        <br>
        <mat-label ><b>Code Nomenclature: </b>    </mat-label>     {{data.nomenclature.code_Nomenclature}}
        <br>
        <br>
        
         
          <mat-label><b>Désignation Nomenclature:</b></mat-label> {{data.nomenclature.designation_Nomenclature}}
        
        <br>
      <br>
        <mat-label><b>Durée Conservation 1 ere age:</b></mat-label> {{data.nomenclature.dureeConservation_1ereAge}}
   
     
    <br> 
    <br>
    <mat-label><b>Durée Conservation 2eme age:</b></mat-label> {{data.nomenclature.dureeConservation_2emeAge}}
    <br>
    <br>
    <mat-label><b>Valeur Historique 3eme age:</b></mat-label> {{data.nomenclature.valeurHistorique_3emeAge}}
    
    <div mat-dialog-actions [align]="'end'">
        <button  class="btn" mat-dialog-close (click)="return()" > Retour </button>
        <button mat-raised-button color="warn" type="Submit" (click)=" deleteNomenclature(data. nomenclature.id)"  >Supprimer</button>
        
        </div>
        <br><br>
        </form>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  