<div class="grid-container">
  <h1 class="mat-h1">Tableau de bord</h1>
  <h2>Statistiques</h2>  
  



 <mat-card class="card0">
  <mat-card-header class="header00">
 <mat-icon style="margin-left:124px; font-size: 43px; ">people</mat-icon>
</mat-card-header>

<mat-card-content class="dashboard-card">
  <br><br>
  <div >
    <h3><strong><b>{{countCompte}}</b></strong> 
      <br>
     Comptes utilisateurs</h3>  
  </div> 
</mat-card-content>
</mat-card>


 <mat-card class="card01" >
  <mat-card-header class="header0">   
    <mat-icon style="font-size:30px; margin-left: 99px;">account_balance</mat-icon>      
  </mat-card-header>
  <mat-card-content class="dashboard-card-content01">
    <div >
      <h3><strong><b>{{countDir}}</b></strong> 
        <br>
      Directions regionales</h3>  
    </div> 
  </mat-card-content>
  </mat-card>


  <mat-card class="card02" >
    <mat-card-header class="header1">    
      <mat-icon style="font-size:30px; margin-left: 103px;">account_balance</mat-icon>        
    </mat-card-header>
    <mat-card-content class="dashboard-card-content01">
      <div >
        <h3><strong><b>{{countStructure}}</b></strong> 
          <br>
          Structures centrales</h3>  
      </div> 
    </mat-card-content>
    </mat-card>

    <mat-card class="card03" >
      <mat-card-header class="header2">         
        <mat-icon style="font-size:30px; margin-left: 103px;" >business</mat-icon>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content01">
        <div >
          <h3><strong><b>{{countAgence}}</b></strong> 
            <br>
             Agences</h3>  
        </div> 
      </mat-card-content>
      </mat-card>




   <mat-card class="card000">
    <mat-card-header >     
    </mat-card-header>
    <mat-card-content style="width:100%;">

     <app-chart></app-chart>
   
    </mat-card-content>
   </mat-card>
   <br>

   
   <mat-card class="card1" >
    <mat-card-header>         
    </mat-card-header>
    <mat-card-content style="margin-left:27px; width:10px; height:50px;">
     <app-chart-poucentage1></app-chart-poucentage1> 
    </mat-card-content>
    </mat-card>
    <br>


      
     
</div>
