h2{
    color: rgb(223, 60, 60);
    font-size: 25px;
    margin-left :5px;
  }

h1 {
    color: #267ace;
    font-size: 30px;
    margin-top: 5px;
    margin-left: 5px;
  }

mat-label{
   
    font-size: 20px;
   
   }
 
   h1 {
    color: #267ace;
    font-size: 30px;
    margin-top: 5px;
    margin-left: 5px;
  }

mat-form-field{
  width:100%;
  height: 80px;
}

.btn {
  background-color: #8eacd8;
  width: 68px ;
  height: 35px;
  font-size: 15px;
  margin-right:220px;
}
h2{
    color: rgb(223, 60, 60);
    font-size: 25px;
    margin-left :5px;
  }

h1 {
    color: #267ace;
    font-size: 30px;
    margin-top: 5px;
    margin-left: 5px;
  }

mat-label{
   
    font-size: 20px;
   
   }
 
   h1 {
    color: #267ace;
    font-size: 30px;
    margin-top: 5px;
    margin-left: 5px;
  }

mat-form-field{
  width:100%;
  height: 80px;
}
