<h1 mat-dialog-title>Ajouter Inscription document </h1>
<br>
<div mat-dialog-content>
<form #enregForm="ngForm" (ngSubmit)="enregistre()">

<mat-form-field  appearance="outline">
<mat-label  for="code_centre" >Code centre de pré-archivage: </mat-label>
<mat-select placeholder="" type="number" name="code" [(ngModel)]="selected2" required #code_centre="ngModel"
[class.is-invalid]="code_centre.invalid && code_centre.touched" >
<mat-option *ngFor="let iteem of code_centres" value="{{iteem.id}}">{{iteem.code_centre}}</mat-option >
</mat-select>
<small class="text-danger" [class.d-none]="code_centre.valid || code_centre.untouched">Champs obligatoire</small> 
</mat-form-field> 


<mat-form-field  appearance="outline">
<mat-label  for=" libelleDirection" > Libellé direction: </mat-label>
<mat-select placeholder="" name="libelleDirection" [(ngModel)]="selected1" required #libelleDirection="ngModel"
[class.is-invalid]="libelleDirection.invalid && libelleDirection.touched" [disabled]="true">
<mat-option *ngFor="let item of libelleDirections" [value]="item.id">{{item.libelleDirection}}</mat-option >
</mat-select>
<small class="text-danger" [class.d-none]=" libelleDirection.valid ||  libelleDirection.untouched">Champs obligatoire</small> 
</mat-form-field>

<mat-form-field  appearance="outline">
<mat-label  for="chapitre_comptable" >Chapitre comptable: </mat-label>
<input formConroleName="chapitre_comptable" matInput placeholder="" type="text" id="chapitre_comptable" 
name="chapitre" [(ngModel)]="suividocument.chapitre_comptable"  required #chapitre_comptable="ngModel"           
[class.is-invalid]="chapitre_comptable.invalid &&chapitre_comptable.touched" [disabled]="true"  >
<small class="text-danger" [class.d-none]="chapitre_comptable.valid || chapitre_comptable.untouched">Champs obligatoire</small> 
</mat-form-field>
<!---
-->

<mat-form-field  appearance="outline">
<mat-label  for="codedocument" >Code document: </mat-label>
<input formConroleName="codedocument" matInput placeholder="" type="number" id="codedocument" 
name="cc" [(ngModel)]="suividocument.codedocument"  required #codedocument="ngModel"           
[class.is-invalid]="codedocument.invalid &&codedocument.touched" [disabled]="true"  >
<small class="text-danger" [class.d-none]="codedocument.valid ||codedocument .untouched"> Champs obligatoire</small> 
</mat-form-field>


<mat-form-field  appearance="outline">
<mat-label  for=" designation_Nomenclature" >Désignation nomenclature: </mat-label>
<mat-select placeholder="" name="designation" [(ngModel)]="selected3" 
required #designation_Nomenclature="ngModel"
[class.is-invalid]="designation_Nomenclature.invalid && designation_Nomenclature.touched"[disabled]="true">
<mat-option *ngFor="let itemm of designation_Nomenclatures" [value]="itemm.id">{{itemm.designation_Nomenclature}}

</mat-option >
</mat-select>
<small class="text-danger" [class.d-none]=" designation_Nomenclature.valid || designation_Nomenclature.untouched">
Champs obligatoire</small> 
</mat-form-field>


<mat-form-field  appearance="outline">
<mat-label  for="numero_document" >Numéro document: </mat-label>
<input formConroleName="numero_document" matInput placeholder="" type="number" id="numero_document" 
name="Numero" [(ngModel)]="suividocument.numero_document"  required #numero_document="ngModel"           
[class.is-invalid]="numero_document.invalid &&numero_document.touched" [disabled]="true"  >
<small class="text-danger" [class.d-none]="numero_document.valid || numero_document.untouched">Champs obligatoire</small> 
</mat-form-field>
<!-----
-->

<mat-form-field  appearance="outline">
<mat-label  for="numero_d_ordre" >Numéro d'ordre: </mat-label>
<input formConroleName="numero_d_ordre" matInput placeholder="" type="number" id="numero_d_ordre" 
name="num" [(ngModel)]="suividocument.numero_d_ordre"  required #numero_d_ordre="ngModel"           
[class.is-invalid]="numero_d_ordre.invalid &&numero_d_ordre.touched"[disabled]="true"   >
<small class="text-danger" [class.d-none]="numero_d_ordre.valid || numero_d_ordre.untouched">Champs obligatoire</small> 
</mat-form-field>

<mat-form-field  appearance="outline">
<mat-label  for="date_De_creation_Du_Document" >Date de création du document: </mat-label>
<input formConroleName="date_De_creation_Du_Document" matInput placeholder="" type="date" id="date_De_creation_Du_Document" 
name="datee" [(ngModel)]="suividocument.date_De_creation_Du_Document"  required #date_De_creation_Du_Document="ngModel"           
[class.is-invalid]="date_De_creation_Du_Document.invalid &&date_De_creation_Du_Document.touched"  [disabled]="true" >
<small class="text-danger" [class.d-none]="date_De_creation_Du_Document.valid || date_De_creation_Du_Document.untouched">Champs obligatoire</small> 
</mat-form-field>

<mat-form-field  appearance="outline">
<mat-label  for=" date_d_entree_Du_Document" >Date d'entree du document: </mat-label>
<input formConroleName=" date_d_entree_Du_Document" matInput placeholder="" type="date" id="date_d_entree_Du_Document" 
name="datee" [(ngModel)]="suividocument. date_d_entree_Du_Document"  required #date_d_entree_Du_Document="ngModel"           
[class.is-invalid]=" date_d_entree_Du_Document.invalid &&   date_d_entree_Du_Document.touched" [disabled]="true"  >
<small class="text-danger" [class.d-none]="  date_d_entree_Du_Document.valid ||   date_d_entree_Du_Document.untouched">Champs obligatoire</small> 
</mat-form-field>

<mat-form-field  appearance="outline">
<mat-label  for="limite_de_conservation_2eme_age" >Limite de conservation 2ème âge: </mat-label>
<input formConroleName="limite_de_conservation_2eme_age" matInput placeholder="" type="number" id="limite_de_conservation_2eme_age" 
name="ch" [(ngModel)]="suividocument.limite_de_conservation_2eme_age"  required #limite_de_conservation_2eme_age="ngModel"           
[class.is-invalid]="limite_de_conservation_2eme_age.invalid &&limite_de_conservation_2eme_age.touched"   >
<small class="text-danger" [class.d-none]="limite_de_conservation_2eme_age.valid || limite_de_conservation_2eme_age.untouched">Champs obligatoire</small> 
</mat-form-field>


<mat-form-field  appearance="outline">
<mat-label  for="Datedeversemnent2emeage" >Date de versement 2ème age: </mat-label>
<input formConroleName="Datedeversemnent2emeage" matInput placeholder="" type="date" id="Datedeversemnent2emeage" 
name="date" [(ngModel)]="suividocument.date_de_versement_2eme_age"  required #date_de_versement_2eme_age="ngModel"           
[class.is-invalid]="date_de_versement_2eme_age.invalid && date_de_versement_2eme_age.touched"   >
<small class="text-danger" [class.d-none]="date_de_versement_2eme_age.valid || date_de_versement_2eme_age.untouched">Champs obligatoire</small> 
</mat-form-field>


<div mat-dialog-actions [align]="'end'">

<button mat-raised-button [disabled]="enregForm.form.invalid" color="Success" type="Submit" (click) ="opensweetalert()" >Ajouter</button>



</div>
<br><br>