<h1 style="color: #267ace;
font-size: 27px;"> Lettre de transfert</h1> <br>
    Responsable de centre de pré-archivage
      <br>  
    <br>
    <h4 style="margin-left: 770px;"> Alger le {{LocalDate}}
    <br>
    A monsieur le directeur général de la direction de la comptabilité</h4>
    <br ><br><br>
    <h3>Objet : demande de comptabilisation
        des frais de recherches.</h3>
    <p> 
    Monsieur le directeur général,<br>                         
    Suite aux consultations des documents de 2 ème âge, nous vous communiquons le type de document"Document copie" aprés l'exécutions des demandes
    de consultation.
    Nous vous demandons de bien recevoir cette lettre de transfert des documents scanneés pour vous comptabiliser les frais de recherche.
    <br><br>
    Veuillez agréer, Monsieur le directeur général, l’expression de notre parfaite considération.
   </p>
   <br>
    <br>
    <button style="margin-left: 1000px;"    mat-raised-button color="Success"  (click)="envoyer()">Envoyer</button>
