<div style="margin-top: 10px">
    <h1 mat-dialog-title >Consultation d'une nomenclature</h1>
  
  <br><br>
  <div mat-dialog-content style="font-size: 20px">
    <mat-label ><b>Id: </b>    </mat-label>     {{data.nomenclature.id}}
        <br>
        <br>
        <mat-label ><b>Code nomenclature: </b>    </mat-label>     {{data.nomenclature.code_Nomenclature}}
        <br>
        <br>
        
         
          <mat-label><b>Désignation nomenclature:</b></mat-label> {{data.nomenclature.designation_Nomenclature}}
        
        <br>
      <br>
        <mat-label><b>Durée conservation 1er âge:</b></mat-label> {{data.nomenclature.dureeConservation_1ereAge}}
   
     
    <br> 
    <br>
    <mat-label><b>Durée conservation 2ème âge:</b></mat-label> {{data.nomenclature.dureeConservation_2emeAge}}
    <br>
    <br>
    <mat-label><b>Valeur historique 3ème âge:</b></mat-label> {{data.nomenclature.valeurHistorique_3emeAge}}
    
    <div mat-dialog-actions [align]="'end'">
      <button  class="btn" mat-dialog-close  > Retour </button>
    </div>
    <br><br>
  
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  