<h1 mat-dialog-title >Suppression d'une agence</h1>
<h2 > Êtes-vous sûre de supprimer cette agence? </h2>
<br><br>
<div mat-dialog-content style="font-size: 20px">
<form #enregForm="ngForm"  >
    <mat-label ><b>Id: </b>    </mat-label>     {{data.agence.id}}
    <br>
    <br>
      <mat-label> <b>Libellé agence:</b> </mat-label> {{data.agence.libelleAgence}}
   
    
    <br>
  <br>
    <mat-label><b>Code agence:</b></mat-label> {{data.agence.codeAgence}}

 
<br> 
<br>
<mat-label><b>Lieu d'archivage 1er âge:</b></mat-label> {{data.agence.lieu_d_archivage_1_ere_age.lieu}}
<br>
<br>
<mat-label><b>Lieu d'archivage 2ème âge:</b></mat-label> {{data.agence.lieu_d_archivage_2_eme_age.lieu}}



<div mat-dialog-actions [align]="'end'">
<button  class="btn" mat-dialog-close (click)="return()" > Retour </button>
<button mat-raised-button color="warn" type="Submit" (click)=" deleteAgence(data.agence.id)"  >Supprimer</button>

</div>
<br><br>
</form>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
