h1 {
    color: #267ace;
    font-size: 30px;
    margin-top: 5px;
    margin-left: 5px;
  }

.mat-raised-button {
  background-color: #34d654;
  margin: 0 10px 0px;
  width: 80px;
  height: 40px;

}

.btn {
  background-color: #6a9ce6;
  width: 80px;
  height: 40px;
}

mat-form-field{
  width:100%;
  height: 80px;
}


