<h2> Demande d'approbation destruction</h2> <br>
   <p> Direction de l’administration générale
       RF : (exemple : MW/MH/026/2018)
    <br>
    Alger le 18/06/2018
    <br>
    A monsieur le directeur général des archives nationales
    <br>
    Objet : demande d’accord de destruction
    <br>
    Monsieur le directeur général,
    Suite aux travaux de la commission centrale des archives de la BEA, nous vous communiquons le tableau de synthèse définitive des documents
    inactifs proposés à la destruction après accord de notre commission concernant les dates extrêmes (de … à …), nous vous demandons de bien
    vouloir marquer votre accord d’élimination de ses documents recensés pour destruction.
    <br>
    Veuillez agréer, Monsieur le directeur général, l’expression de notre parfaite considération.
    <br>
    PJ :
    <br>
    - Tableau de synthèse
    <br>
    - PV de la commission relatif à la destruction</p>
    <button mat-raised-button   color="Success" type="Submit" (click)="Envoyer()">Approbation globale ou partielle</button>

