<h1 style="color: #267ace;
font-size: 27px;"> Demande d'approbation destruction</h1> <br>
    Direction de l’administration générale
      
    <br>
    <h4 style="margin-left: 770px;"> Alger le {{LocalDate}}
    <br >
    A monsieur le directeur général des archives nationales</h4>
    
    <h3>Objet : demande d’accord de destruction</h3>
    <p> 
    Monsieur le directeur général,<br>                         
    Suite aux travaux de la commission centrale des archives de la BEA, nous vous communiquons le tableau de synthèse définitive des documents
    inactifs proposés à la destruction après accord de notre commission, nous vous demandons de bien
    vouloir marquer votre accord d’élimination de ses documents recensés pour destruction.
    <br><br>
    Veuillez agréer, Monsieur le directeur général, l’expression de notre parfaite considération.
   </p>
    <b>PJ :</b>
   <h4 style="margin-left: 30px;"> - Tableau de synthèse<br>
   - PV de la commission relatif à la destruction</h4>
   <br><br>
    <button mat-raised-button   color="Success" type="Submit" (click)="Envoyer()">Approbation globale ou partielle</button>
<br><br>
