<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css
    ">
    
    <br>
    
    <h1 >Bordereaux de Versement</h1>
    <br>
    <div class="container">   
        <div style="margin-top:10px;">             
            <div class="mat-elevation-z8" >
              <table mat-table [dataSource]="dataSource" matSort >

                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header="id" >
                   id
                  </th>
                  <td mat-cell *matCellDef="let suividocument">{{suividocument.id}}</td>
                </ng-container>

            
              
              
                <ng-container matColumnDef="chapitre_comptable">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="chapitre_comptable" >
                     Chapitre Comptable
                    </th>
                    <td mat-cell *matCellDef="let suividocument">{{suividocument.chapitre_comptable}}</td>
                  </ng-container>
                
                  <ng-container matColumnDef="numero_document">
 
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="numero_document">
                      Numero Document 
                    </th>
                    <td mat-cell *matCellDef="let suividocument">{{suividocument.numero_document}}</td>
                  </ng-container>
                 
                
                  <ng-container matColumnDef="date_De_creation_Du_Document">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="date_De_creation_Du_Document" >
                      Date de creation du document
                    </th>
                    <td mat-cell *matCellDef="let suividocument">{{suividocument.date_De_creation_Du_Document}}</td>
                  </ng-container>

              
                  <ng-container matColumnDef="codedocument">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="codedocument" >
                      code document 
                    </th>
                    <td mat-cell *matCellDef="let suividocument">{{suividocument.codedocument}}</td>
                  </ng-container>
                  <ng-container matColumnDef="numero_d_ordre">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="numero_d_ordre" >numero d'ordre
                     </th>
                    <td mat-cell *matCellDef="let suividocument">{{suividocument.numero_d_ordre}}</td>
                  </ng-container>

            
                  <ng-container matColumnDef="nombre_De_documents">
                    <th mat-header-cell *matHeaderCellDef  mat-sort-header="nombre_De_documents">
                      Nombre de Documents
                    </th>
                    <td mat-cell *matCellDef="let suividocument"> {{suividocument.nombre_De_documents}} </td>
                  </ng-container>
                 
                  <ng-container matColumnDef="Datedeversemnent2emeage">
                    <th mat-header-cell *matHeaderCellDef  mat-sort-header="Datedeversemnent2emeage">
                        Date de versemnent 2éme age 
                    </th>
                    <td mat-cell *matCellDef="let suividocument">{{LocalDate}}</td>
                  </ng-container>


                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div></div></div><br><br><br>
            <a class="btn btn-primary"  role="button" color="primary" (click)="onclickk()" >Inscription sortie<br>des documents</a>