<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css
    ">
    
    <br>
    
    <h1 >Bordereaux de Versement</h1>
    <br>
    <div class="container">   
        <div style="margin-top:10px;">             
            <div class="mat-elevation-z8" >
              <table mat-table [dataSource]="dataSource" matSort >

          

            
              
              
                <ng-container matColumnDef="chapitre_comptable">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="chapitre_comptable" >
                     Chapitre comptable
                    </th>
                    <td mat-cell *matCellDef="let suividocument">{{suividocument.chapitre_comptable}}</td>
                  </ng-container>
                
                  <ng-container matColumnDef="numero_document">
 
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="numero_document">
                      Numéro document 
                    </th>
                    <td mat-cell *matCellDef="let suividocument">{{suividocument.numero_document}}</td>
                  </ng-container>
                 
                
                  <ng-container matColumnDef="date_De_creation_Du_Document">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="date_De_creation_Du_Document" >
                      Date de création du document
                    </th>
                    <td mat-cell *matCellDef="let suividocument">{{suividocument.date_De_creation_Du_Document}}</td>
                  </ng-container>

              
                  <ng-container matColumnDef="codedocument">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="codedocument" >
                      Code document 
                    </th>
                    <td mat-cell *matCellDef="let suividocument">{{suividocument.codedocument}}</td>
                  </ng-container>
                  <ng-container matColumnDef="numero_d_ordre">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="numero_d_ordre" >Numéro d'ordre
                     </th>
                    <td mat-cell *matCellDef="let suividocument">{{suividocument.numero_d_ordre}}</td>
                  </ng-container>

            
                  <ng-container matColumnDef="nombre_De_documents">
                    <th mat-header-cell *matHeaderCellDef  mat-sort-header="nombre_De_documents">
                      Nombre de documents
                    </th>
                    <td mat-cell *matCellDef="let suividocument"> {{suividocument.nombre_De_documents}} </td>
                  </ng-container>
                 
                


                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div></div></div><br><br><br>
            <a class="btn btn-primary"  role="button" color="primary" (click)="onclickk()" >Inscription sortie<br>des documents</a>